.ProfileButton {
  z-index: 10;
  display: absolute;
  left: 0.5vw;
  top: 1vh;
  width: 7vw;
}
.Avatar {
  width: 15%;
  height: 15%;
  left: 1vw;
  top: 1vh;
}

.SignOutButton {
  width: 25%;
  height: 15%;
  left: 38%;
  bottom: 10px;
}
